body{
    height: 100%;
    width: 100%;
}

.container-fluid{
    height: 100vh;
}

#row{
    height: 100%;
}

#collapse{
    z-index: 3;
    background-color: white;
}

.ui-menu{
    z-index: 5;
    list-style-type: none;
    background-color: white;
    border: 1px solid lightgray;
    padding: 0;
}

.ui-menu-item:hover{
    background-color: lightgray;
}

#infoboxText {
    width: auto;
    height: auto;
    opacity: 0.85;
    filter: alpha(opacity=85); /* For IE8 and earlier */;
    background-color: black;
    color: white;
    border-radius: 7px;
    text-align: center;
    padding: 25px;
}

.ignorePad{
    margin-left: -25px; 
    margin-top: -25px;
}

#nav{
    height: 10vh;
    padding: 0 !important;
}

#main{
    height: 100%;
}
.MicrosoftMap a.dirBtnRev{
    float: none !important;
}

#map{
    height: 67%;
    position: absolute;
}

.directionsContainer{
    
    height:100%;
    overflow-y:auto;
    float:left;
}

#search{
    width: 100% !important;
}

.navlink{
    color: black;
    font-size: 0.75em;
}

@media only screen and (max-width: 768px){
    #search{
        width: 80% !important;
    }

    #collapse{
        border: 3px solid lightblue;
        border-radius: 10px;
    }

    #collapse ul li:hover{
        background-color: lightgray;
    }

    #collapse ul li a{
         margin: 0px; display: block; width: 100%; height: 100%;    
    }

}

#mainContent{
    border-left: 3px solid black
}

@media only screen and (max-width: 767px){
    #mainContent{
        border-left: none;
    }


}

@media only screen and (max-width: 422px){
    #search{
        width: 70% !important;
    }


}

@media only screen and (max-width: 302px){
    #search{
        width: 60% !important;
    }
}

@media only screen and (max-width: 242px){
    #search{
        width: 47% !important;
    }
}

.MicrosoftMap.dirSDK .directionsPanel {
    width: 100% !important;
}

body .MicrosoftMap.dirSDK .dirWp input {
    width: 100% !important;
} 

 .MicrosoftMap .drTimeGo>div {
    display: block !important;
}

.MicrosoftMap .dirTopRow {
    width: 50% !important; 
}

 #ZoomOutButton{
    display: none;
}

#ZoomInButton{
    display: none;
}


.bm_LocateMeControl{
    display: none;
}


#MapStyleSelector{
    display: none;
}

