body{
    height: 100%;
    width: 100%;
}

#infoboxText {
    width: auto;
    height: auto;
    opacity: 0.85;
    filter: alpha(opacity=85); /* For IE8 and earlier */;
    background-color: black;
    border-radius: 7px;
    text-align: center;
    padding: 25px;
}

.ignorePad{
    margin-left: -25px; 
    margin-top: -25px;
}

#nav{
    height: 10vh;
    padding: 0 !important;
}

#main{
    height: 90vh;
}

#map{
    width: 65%;
    height: 100%;
}

#search{
    width: 100% !important;
}

@media only screen and (max-width: 768px){
    #search{
        width: 80% !important;
    }
}

@media only screen and (max-width: 422px){
    #search{
        width: 70% !important;
    }
}

@media only screen and (max-width: 302px){
    #search{
        width: 60% !important;
    }
}

@media only screen and (max-width: 242px){
    #search{
        width: 47% !important;
    }
}